h1{
        color:rgba#ffffff;
        text-align: center;
        background-color:rgba(0,0,0,0.4); 
        padding: 40px;
        margin: 40px;
        /*border: 1px; border-color: #ffffff; border-style: solid;*/
        border:1px #ffffff solid;
        font-size: 90px;
      }
.cuadro-transparente{
    background-color: rgba(0,0,0,0.7);
    border: 1px; border-color: #ffffff;
    border-style: solid;
    padding: 20px;
    margin-top: 25px;
    font-family:'Arual', sans-serif;
    font-weight: bold;
  }
  .highlight {
  	color: black;
  	background-color:red;
  	padding-left:
  	20px;
  	padding-right: 20px;
  }
  .highlightn {
    color: black;
    background-color:rgb(46, 178, 46);
    padding-left: 20px;
    padding-right: 20px;
  }
  .gigante {
    font-size: 40px;
    font-family:'Aristotle-Punk', fantasy;
    font-weight: lighter;
}